{% extends 'accountsbase.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="password" aria-label="password" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Login!</button>
    </div>


</form>
<p><small>Don't have an account?</small></p><a href="{% url 'register' %}"><button type="button" class="btn btn-link">Register</button></a>
{% endblock %}