{% extends 'accountsbase.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <!-- {{form.as_p}} -->
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" name="username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="password" name="password1" aria-label="password" aria-describedby="button-addon2">
        <input type="password" class="form-control" placeholder="Verify Password" name="password2" aria-label="Verify Password" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Register!</button>
    </div>
</form>
<p><small>Already have an account?</small> <a href="{% url 'login' %}"><button type="button" class="btn btn-link">Login</button></a></p>

{% endblock %}