{% extends 'base.html' %}

{% block content %} 

    <div class="container" style="margin-top: 60px;">

        <div class="card" style="margin-bottom: 60px;">
            <div class="card-header">
                Our News
            </div>

            <div class="card-body">

                <ul class="list-group list-group-flush">
        
                    {% for news in our_news %}
        
                        <li class="list-group-item">
                            
                            <a href="{% url 'our_news_details' news.id %}">{{news.title}}</a> <br>
                            <small>by {{news.by}}</small>
                            
                        </li>
        
                    {% endfor %}
                </ul>
        
                
            </div>
            
        </div>

        <div class="card" style="margin-bottom: 60px;">
            <div class="card-header">
                Other News
            </div>

            <div class="card-body">

                <ul class="list-group list-group-flush">
        
                    {% for news in HNews %}
        
                        <li class="list-group-item">
                            
                            <a href="{{news.url}}">{{news.title}}</a> <br>
                            <small>by {{news.by}}</small>
                            
                        </li>
        
                    {% endfor %}
                </ul>
        
                
            </div>
            
        </div>
        
    </div>
    

    

        

    


{% endblock %}






    

